{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-86131175-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-86131175-6');
</script>

	<title>Corona Classifier</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 12px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}


.fa-github {
  background: #000000;
  color: white;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
	<a class="github-fork-ribbon" href="https://github.com/adityap27/Corona-Classifier" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

	<div class="container-contact100" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="result" onsubmit="loader()">
				<span class="contact100-form-title">
					Corona Classifier...
				</span>

				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span >Have you gone on a <b>trip</b> in the past month?</span><br>
					<input type="radio" name="trip" value="1" required>Yes <input type="radio" name="trip" value="0">No
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span class="">Do you currently have a <b>fever</b>?</span><br>
					<input type="radio" name="fever" value="1" required>Yes <input type="radio" name="fever" value="0">No
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span class="">Did your <b>eyes itch</b> in the past week?</span><br>
					<input type="radio" name="eye" value="1" required>Yes <input type="radio" name="eye" value="0">No
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span class="">Do you have a <b>runny nose</b>?</span><br>
					<input type="radio" name="nose" value="1" required>Yes <input type="radio" name="nose" value="0">No
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span class="">Have you had <b>trouble breathing</b> recently?</span><br>
					<input type="radio" name="breath" value="1" required>Yes <input type="radio" name="breath" value="0">No
				</div>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate=" is required">
					<span class="">Have you <b>coughed much</b> lately?</span><br>
					<input type="radio" name="cough" value="1" required>Yes <input type="radio" name="cough" value="0">No
				</div>


				
				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button id="submit-btn" class="contact100-form-btn" >
							Submit
						</button>
					</div>
				</div>
			</form>
			<br>
			<b>Contact Developer: </b> <a href="mailto:adityapurohit27@gmail.com">adityapurohit27@gmail.com</a>
			<br>
<a href="https://github.com/adityap27" target="_blank" class="fa fa-github"></a>
<a href="https://www.facebook.com/aditya.purohit.564/" target="_blank" class="fa fa-facebook"></a>
<a href="https://www.linkedin.com/in/aditya-purohit-a23343150/" target="_blank" class="fa fa-linkedin"></a>
<a href="https://www.instagram.com/aditya._.27/" target="_blank" class="fa fa-instagram"></a>
		</div>

	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript">
		function loader() {
  			document.getElementById("submit-btn").innerHTML='<i class="fa fa-spinner fa-spin">';
		}
	</script>


</body>
</html>
